# Cheminformatics
rdkit

# Data Manipulation
pandas
numpy

# Visualization
matplotlib
seaborn
streamlit
py3Dmol
plotly

# Machine Learning
scikit-learn
xgboost
chembl_webresource_client
PyTDC
joblib
deepchem

# Utilities
tqdm

# Molecular Dynamics (Phase 1)
openmm
openff-toolkit
openff-interchange
mdtraj
